<!DOCTYPE html>
<html lang="en" data-ng-app="wtst">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">Watstock - Intelligence trading</title>
   <base href="/">
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- ngMaterial styles-->
   <link rel="stylesheet" href="vendor/angular-material/angular-material.css">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'header-home': app.layout.headerHome, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled, 'aside-collapsed-text': app.layout.isCollapsedText}">
   <div data-preloader></div>
   <div class="wrapper" data-ui-view="" data-autoscroll="false"></div>
   <script src="app/js/base.js"></script>
   <script src="vendor/angular-material/angular-material.js"></script>
   <script src="vendor/d3/d3.js"></script>
   <script src="libs/vizuly-halo/namespace/namespace.js"></script>
   <script src="libs/vizuly-halo/theme/_theme.js"></script>
   <script src="libs/vizuly-halo/theme/halo.js"></script>
   <script src="libs/vizuly-halo/core/component.js"></script>
   <script src="libs/vizuly-halo/core/util.js"></script>
   <script src="libs/vizuly-halo/core/color.js"></script>
   <script src="libs/vizuly-halo/core/format.js"></script>
   <script src="libs/vizuly-halo/svg/_svg.js"></script>
   <script src="libs/vizuly-halo/svg/gradient.js"></script>
   <script src="libs/vizuly-halo/svg/filter.js"></script>
   <script src="libs/vizuly-halo/viz/_viz.js"></script>
   <script src="libs/vizuly-halo/viz/halo.js"></script>
   <script src="libs/vizuly-halo/theme_showreel.js"></script>
   <script src="libs/orb-chart/trigonometry.js"></script>
   <script src="libs/orb-chart/arc.js"></script>
   <script src="libs/orb-chart/functor.js"></script>
   <script src="libs/orb-chart/source.js"></script>
   <script src="libs/orb-chart/target.js"></script>
   <script src="libs/orb-chart/arc-chord_002.js"></script>
   <script src="libs/orb-chart/arc-chord.js"></script>
   <script src="libs/orb-chart/gradients.js"></script>
   <script src="app/js/app.js"></script>
</body>

</html>