#bpg
  #mainDiv.clearfix
    //- .col-md-8.pull-left
    .obr-chart-box
      #imgDiv(style='width: 100%; margin: 0; text-align: center;')
        img#playPause(src='app/img/pause_bw.png', width='24', height='24', style='display: inline-block; vertical-align: middle; cursor: pointer;')
        span(style='display: inline-block; margin-top:4px; margin-left:4px') click on a timeline to skip to that point.
      #timeSlider.time-slider
      #svgDiv
    //- .col-md-4.pull-right
    .orb-chart-info
      #infoChart
  #toolTip-orb.tooltip-orb(style='width: auto; height: 80px; position: absolute; left: 719px; top: 233px; padding: 15px 20px;')
    #head.header
    .header-rule
    #header2.header2
    .tooltipTail
