<div class="footer">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-12">
            <div class="row">
               <div class="col-md-6 col-sm-12">
                  <p class="title">About Us</p>
                  <div class="row">
                     <div class="col-sm-5">
                        <p><a href="">Company</a>
                        </p>
                        <p><a href="">Careers</a>
                        </p>
                        <p><a href="">Contact</a>
                        </p>
                     </div>
                     <div class="col-sm-7">
                        <p><a href="">FAQ</a>
                        </p>
                        <p><a href="">Blog/News</a>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <p class="title">Services</p>
                  <div class="row">
                     <div class="col-sm-5">
                        <p><a href="">Feature</a>
                        </p>
                        <p><a href="">Pricing</a>
                        </p>
                     </div>
                     <div class="col-sm-7">
                        <p><a href="">Stock Screener</a>
                        </p>
                        <p><a href="">Investors</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-12">
            <div class="row">
               <div class="col-md-6 col-sm-12">
                  <p class="title">Contact Us</p>
                  <div class="contact-us">
                     <p><i class="icon-location-pin"></i>
                        <span>12 Marina Boulevard, Level 17-01 Marina Bay Financial Centre Tower 3 Singapore 018982</span>
                     </p>
                     <p><i class="icon-envelope-open"></i>
                        <span><a href="">support@watstock.com</a>
                        </span>
                     </p>
                     <p class="pt-lg">
                        <button class="btn btn-outlet-main">
                           <span class="ml-lg mr-lg">Contact</span>
                        </button>
                     </p>
                  </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <p class="title">Follow Us</p>
                  <div class="clearfix text-main"><a class="pull-left mr-lg" href=""><i class="fa fa-2x fa-facebook-square"></i></a><a class="pull-left mr-lg" href=""><i class="fa fa-2x fa-twitter-square"></i></a><a class="pull-left mr-lg" href=""><i class="fa fa-2x fa-linkedin-square"></i></a>
                     <a
                     class="pull-left mr-lg" href=""><i class="fa fa-2x fa-google-plus-square"></i>
                        </a><a class="pull-left mr-lg" href=""><i class="fa fa-2x fa-instagram"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="terms">
      <div class="container">
         <span>Copyright © Watstock 2017. All rights reserved.</span>
         <span class="pull-right"><a class="ml" href="">Terms</a><a class="ml" href="">Regulations</a><a class="ml" href="">RSS</a><a class="ml" href="">Sitemap</a>
         </span>
      </div>
   </div>
</div>