<div class="block-center mt-xl wd-xl" ng-controller="ResetPasswordController as vm">
   <!-- START panel-->
   <div class="panel panel-inverse panel-flat">
      <div class="panel-heading text-center">
         <a href="/">
            <img class="block-center img-rounded" src="app/img/logo.png" alt="Image" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">RESET YOUR PASSWORD</p>
         <form class="form-validate mb-lg" role="form" name="vm.resetPasswordForm" novalidate="" ng-submit="vm.resetPassword()">
            <div class="form-group has-feedback">
               <label class="text-muted">Email address</label>
               <input class="form-control" type="email" name="account_email" placeholder="" autocomplete="off" ng-model="vm.account.email" required="" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_email.$dirty &amp;&amp; vm.resetPasswordForm.account_email.$error.required">This field is required</span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_email.$dirty &amp;&amp; vm.resetPasswordForm.account_email.$error.email">This field must be a valid email address</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Password</label>
               <input class="form-control" id="id-password" type="password" name="account_password" ng-model="vm.account.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password.$dirty &amp;&amp; vm.resetPasswordForm.account_password.$error.required">This field is required</span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password.$dirty &amp;&amp; vm.resetPasswordForm.account_password.$error.pattern">Input should match 'a-zA-Z0-9' and 6-10 length</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Retype Password</label>
               <input class="form-control" type="password" name="account_password_confirm" ng-model="vm.account.account_password_confirm" ui-validate="'$value==vm.account.password'" ui-validate-watch="'password'" required="" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password_confirm.$dirty &amp;&amp; vm.resetPasswordForm.account_password_confirm.$error.required">This field is required</span>
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_password_confirm.$dirty &amp;&amp; vm.resetPasswordForm.account_password_confirm.$error.validator">Password does Not match</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Key</label>
               <input class="form-control" type="text" name="account_key" ng-model="vm.account.key" required="" />
               <span class="text-danger" ng-show="vm.resetPasswordForm.account_key.$dirty &amp;&amp; vm.resetPasswordForm.account_key.$error.required">This field is required</span>
            </div>
            <div class="form-group text-center" ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show="vm.authMsg">{{vm.authMsg}}</div>
            <button class="btn btn-block btn-primary mt-lg" type="submit">Reset password</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>