.block-center.mt-xl.wd-xl(ng-controller="ChangePasswordController as vm")
  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      a(href="/")
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv CHANGE YOUR PASSWORD
      form.form-validate.mb-lg(role='form', name="vm.changePasswordForm", novalidate='', ng-submit="vm.changePassword()")
        .form-group.has-feedback
          label.text-muted Current Password
          input#id-password.form-control(type='password', name="account_current_password", ng-model="vm.account.currentPassword", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.changePasswordForm.account_current_password.$dirty && vm.changePasswordForm.account_current_password.$error.required") This field is required
          //- span.text-danger(ng-show="vm.changePasswordForm.account_current_password.$dirty && vm.correctPassword") Incorrect password
        .form-group.has-feedback
          label.text-muted New Password
          input#id-password.form-control(type='password', name="account_new_password", ng-model="vm.account.newPassword", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.changePasswordForm.account_new_password.$dirty && vm.changePasswordForm.account_new_password.$error.required") This field is required
          span.text-danger(ng-show="vm.changePasswordForm.account_new_password.$dirty && vm.changePasswordForm.account_new_password.$error.pattern") Input should match 'a-zA-Z0-9' and 6-10 length
        .form-group.has-feedback
          label.text-muted Retype New Password
          input.form-control(type='password', name="account_new_password_confirm", ng-model="vm.account.account_new_password_confirm", ui-validate="'$value==vm.account.newPassword'" ui-validate-watch="'password'", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.changePasswordForm.account_new_password_confirm.$dirty && vm.changePasswordForm.account_new_password_confirm.$error.required") This field is required
          span.text-danger(ng-show="vm.changePasswordForm.account_new_password_confirm.$dirty && vm.changePasswordForm.account_new_password_confirm.$error.validator") New Password does Not match
        .form-group.text-center(ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show='vm.authMsg') {{vm.authMsg}}
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Change password
        
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
