.block-center.mt-xl.wd-xl(ng-controller="ForgotPasswordController as vm")
  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv FORGET YOUR PASSWORD
      form.form-validate(role='form', ng-submit="vm.forgotPassword()", name="vm.forgotPasswordForm", novalidate='')
        p.text-center Fill with your mail to receive instructions on how to reset your password.
        .form-group.has-feedback
          label.text-muted Email address
          input.form-control(type='email', name='email', placeholder='', autocomplete="off", ng-model="vm.account.email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.forgotPasswordForm.email.$dirty && vm.forgotPasswordForm.email.$error.required") This field is required
          span.text-danger(ng-show="vm.forgotPasswordForm.email.$dirty && vm.forgotPasswordForm.email.$error.email") This field must be a valid email address
        .form-group.text-center(ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show='vm.authMsg') {{vm.authMsg}}
        button.btn.btn-primary.btn-block(type='submit') Send password
        p.text-center.pv If you already have a user - 
          a.text-muted(ui-sref='auth.login') Login here
            
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
