.container.container-md

  h2.animated Pricing

  .row.mt-xl
    // PLAN
    .col-md-4
      .panel.b
        .panel-body.text-center.bb
          .text-bold STARTER
          h3.mv-lg
            sup $
            span.text-lg 29
            span.text-xs /week
        .panel-body
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Unlimited Styles
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span RTL &amp; Translation
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Customer support
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Free Updates
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Limited to one client
          p
            em.fa.fa-times.fa-fw.text-warning.mr
            span Multiple installation
          p
            em.fa.fa-times.fa-fw.text-warning.mr
            span Not ready for resale
        .panel-body.text-center
          a.btn.btn-default.btn-lg(href="") Subscribe
    // PLAN
    .col-md-4
      .panel.b
        .panel-body.text-center.bg-green
          .text-bold IDEAL
          h3.mv-lg
            sup $
            span.text-lg 119
            span.text-xs /month
        .panel-body
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Unlimited Styles
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span RTL &amp; Translation
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Customer support
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Free Updates
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Limited to one client
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Multiple installation
          p
            em.fa.fa-times.fa-fw.text-warning.mr
            span Not ready for resale
        .panel-body.text-center
          a.btn.btn-danger.btn-lg(href="") Subscribe
    // PLAN
    .col-md-4
      .panel.b
        .panel-body.text-center.bb
          .text-bold PREMIUM
          h3.mv-lg
            sup $
            span.text-lg 119
            span.text-xs /quarter
        .panel-body
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Unlimited Styles
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span RTL &amp; Translation
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Customer support
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Free Updates
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Limited to one client
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Multiple installation
          p
            em.fa.fa-check.fa-fw.text-green.mr
            span Ready for resale*
        .panel-body.text-center
          a.btn.btn-default.btn-lg(href="") Subscribe