.block-center.mt-xl.wd-xl(ng-controller="ResetPasswordController as vm")
  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      a(href="/")
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv RESET YOUR PASSWORD
      form.form-validate.mb-lg(role='form', name="vm.resetPasswordForm", novalidate='', ng-submit="vm.resetPassword()")
        .form-group.has-feedback
          label.text-muted Email address
          input.form-control(type='email', name='account_email', placeholder='', autocomplete="off", ng-model="vm.account.email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.resetPasswordForm.account_email.$dirty && vm.resetPasswordForm.account_email.$error.required") This field is required
          span.text-danger(ng-show="vm.resetPasswordForm.account_email.$dirty && vm.resetPasswordForm.account_email.$error.email") This field must be a valid email address
        .form-group.has-feedback
          label.text-muted Password
          input#id-password.form-control(type='password', name="account_password", ng-model="vm.account.password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.resetPasswordForm.account_password.$dirty && vm.resetPasswordForm.account_password.$error.required") This field is required
          span.text-danger(ng-show="vm.resetPasswordForm.account_password.$dirty && vm.resetPasswordForm.account_password.$error.pattern") Input should match 'a-zA-Z0-9' and 6-10 length
        .form-group.has-feedback
          label.text-muted Retype Password
          input.form-control(type='password', name="account_password_confirm", ng-model="vm.account.account_password_confirm", ui-validate="'$value==vm.account.password'" ui-validate-watch="'password'", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="vm.resetPasswordForm.account_password_confirm.$dirty && vm.resetPasswordForm.account_password_confirm.$error.required") This field is required
          span.text-danger(ng-show="vm.resetPasswordForm.account_password_confirm.$dirty && vm.resetPasswordForm.account_password_confirm.$error.validator") Password does Not match
        .form-group.has-feedback
          label.text-muted Key
          input.form-control(type='text', name="account_key", ng-model="vm.account.key", required='')
          span.text-danger(ng-show="vm.resetPasswordForm.account_key.$dirty && vm.resetPasswordForm.account_key.$error.required") This field is required
        .form-group.text-center(ng-class="!vm.status ? 'text-danger' : 'text-success' " ng-show='vm.authMsg') {{vm.authMsg}}
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Reset password
        
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
