<div id="currentDisplay" style="display: none;">
   <a></a>
</div>
<div class="container wrapper-halo-chart clearfix" style="width:100%;">
   <div class="z-depth-3-no" id="viz_container"></div>
   <div class="box-halo-controll clearfix">
      <div class="col-md-8 pull-left">
         <div class="time-slider" id="timeSlider"></div>
         <div id="imgDiv" style="width:400px; margin:0px auto; margin-top:10px; text-align: center;">
            <img id="playPause" src="app/img/pause_bw.png" width="24" height="24" style="display: inline-block; vertical-align: middle; cursor: pointer;" />
            <span style="display: inline-block; margin-top:4px; margin-left:4px;">click on a timeline to skip to that point.</span>
         </div>
      </div>
      <div class="col-md-4 pull-right">
         <div id="infoChart"></div>
      </div>
   </div>
</div>