<div id="bpg">
   <div class="clearfix" id="mainDiv">
      <div class="obr-chart-box">
         <div id="imgDiv" style="width: 100%; margin: 0; text-align: center;">
            <img id="playPause" src="app/img/pause_bw.png" width="24" height="24" style="display: inline-block; vertical-align: middle; cursor: pointer;" />
            <span style="display: inline-block; margin-top:4px; margin-left:4px;">click on a timeline to skip to that point.</span>
         </div>
         <div class="time-slider" id="timeSlider"></div>
         <div id="svgDiv"></div>
      </div>
      <div class="orb-chart-info">
         <div id="infoChart"></div>
      </div>
   </div>
   <div class="tooltip-orb" id="toolTip-orb" style="width: auto; height: 80px; position: absolute; left: 719px; top: 233px; padding: 15px 20px;">
      <div class="header" id="head"></div>
      <div class="header-rule"></div>
      <div class="header2" id="header2"></div>
      <div class="tooltipTail"></div>
   </div>
</div>