<div class="stocks-table ml-xl mr-xl p-lg">
   <p class="text-center">
      <button class="btn btn-tab btn-main" ng-class="{'btn-active': stocks.forecastDay === 0}" ng-click="stocks.showTable(0)">
         <span class="ml-lg mr-lg">Today's Price</span>
      </button>
      <button class="btn btn-tab btn-orange ml-lg mr-lg" ng-class="{'btn-active': stocks.forecastDay === 1}" ng-click="stocks.showTable(1)">
         <span class="ml-lg mr-lg">Tomorrow's Price</span>
      </button>
      <button class="btn btn-tab btn-blue" ng-class="{'btn-active': stocks.forecastDay === 10}" ng-click="stocks.showTable(10)">
         <span class="ml-lg mr-lg">10 Day Forecast</span>
      </button>
   </p>
   <table class="table table-hover m0" ng-if="stocks.forecastDay === 0">
      <thead>
         <tr>
            <th style="width:1%;"></th>
            <th>Company</th>
            <th class="text-right">Symbol</th>
            <th class="text-right">Ask</th>
            <th class="text-right">Bid</th>
            <th class="text-right">Last</th>
            <th class="text-right">Date</th>
            <th class="text-right">Time</th>
         </tr>
      </thead>
      <tbody class="real_time_update">
         <tr class="text-grey mda-list clickable ticker" ng-repeat="item in stocks.tickers track by item.tickerSymbol" ng-class="item.tickerSymbol" ui-sref="app.company({id:item.tickerSymbol})">
            <td>
               <img class="img-ticker" ng-src="{{item.iconUrl}}" />
            </td>
            <td>{{::item.companyName}}</td>
            <td class="text-right">{{::item.tickerSymbol}}</td>
            <td class="text-right ticker_ask">{{::item.ask | currency}}</td>
            <td class="text-right ticker_bid">{{::item.bid | currency}}</td>
            <td class="text-right ticker_last">{{::item.last | currency}}</td>
            <td class="text-right ticker_date">{{::item.date | date:'yyyy-MM-dd':'UTC'}}</td>
            <td class="text-right ticker_time">{{::item.date | date:'h:mm:ss':'UTC'}}</td>
         </tr>
      </tbody>
   </table>
   <table class="table table-hover m0" ng-if="stocks.forecastDay !== 0">
      <thead>
         <tr>
            <th style="width:1%;"></th>
            <th>Company</th>
            <th class="text-right">Symbol</th>
            <th class="text-right">Price</th>
            <th class="text-right">Change</th>
            <th class="text-right">Change %</th>
            <th class="text-right">Date</th>
            <th class="text-right">Time</th>
            <th class="text-right" ng-if="stocks.forecastDay !== 0">Action</th>
         </tr>
      </thead>
      <tbody>
         <tr class="text-grey clickable" ng-repeat="item in stocks.tickers track by item.tickerSymbol" ui-sref="app.company({id:item.tickerSymbol})">
            <td>
               <img class="img-ticker" ng-src="{{item.iconUrl}}" />
            </td>
            <td>{{::item.companyName}}</td>
            <td class="text-right">{{::item.tickerSymbol}}</td>
            <td class="text-right">{{stocks.getForecast(item).prediction | currency}}</td>
            <td class="text-right" ng-class="stocks.getForecast(item).trend">{{(stocks.getForecast(item).change > 0 ? '+' : '')+(stocks.getForecast(item).change | currency:'')}}</td>
            <td class="text-right" ng-class="stocks.getForecast(item).trend">{{stocks.getForecast(item).changePercent}}%</td>
            <td class="text-right">{{stocks.getForecast(item).prediction_date | date:'yyyy-MM-dd':'UTC'}}</td>
            <td class="text-right">{{stocks.getForecast(item).prediction_date | date:'h:mm:ss':'UTC'}}</td>
            <td class="text-right" ng-if="stocks.forecastDay !== 0">
               <button class="btn btn-action btn-gray" ng-class="{&quot;btn-red&quot;:stocks.getForecast(item).changePercent &lt; -2, &quot;btn-green&quot;:stocks.getForecast(item).changePercent &gt; 2}">
                  <span class="text-uppercase ml-lg mr-lg">{{stocks.getForecast(item).changePercent
                     < -2 ? 'sell' : (stocks.getForecast(item).changePercent>2 ? 'buy':'hold')}}</span>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>