.footer
  .container
    .row
      .col-lg-6.col-md-12
        .row
          .col-md-6.col-sm-12
            p.title About Us
            .row
              .col-sm-5
                p
                  a(href='') Company
                p
                  a(href='') Careers
                p
                  a(href='') Contact
              .col-sm-7
                p
                  a(href='') FAQ
                p
                  a(href='') Blog/News
          .col-md-6.col-sm-12
            p.title  Services
            .row
              .col-sm-5
                p
                  a(href='') Feature
                p
                  a(href='') Pricing
              .col-sm-7
                p
                  a(href='') Stock Screener
                p
                  a(href='') Investors
      .col-lg-6.col-md-12
        .row
          .col-md-6.col-sm-12
            p.title  Contact Us
            .contact-us
              p
                i.icon-location-pin
                span 12 Marina Boulevard, Level 17-01 Marina Bay Financial Centre Tower 3 Singapore 018982
              p
                i.icon-envelope-open
                span
                  a(href='') support@watstock.com
              p.pt-lg
                button.btn.btn-outlet-main
                  span.ml-lg.mr-lg Contact
          .col-md-6.col-sm-12
            p.title  Follow Us
            .clearfix.text-main
              a.pull-left.mr-lg(href='')
                i.fa.fa-2x.fa-facebook-square
              a.pull-left.mr-lg(href='')
                i.fa.fa-2x.fa-twitter-square
              a.pull-left.mr-lg(href='')
                i.fa.fa-2x.fa-linkedin-square
              a.pull-left.mr-lg(href='')
                i.fa.fa-2x.fa-google-plus-square
              a.pull-left.mr-lg(href='')
                i.fa.fa-2x.fa-instagram
  .terms
    .container
      span Copyright © Watstock 2017. All rights reserved.
      span.pull-right
        a.ml(href='') Terms
        a.ml(href='') Regulations
        a.ml(href='') RSS
        a.ml(href='') Sitemap